.table {
  --bs-table-striped-bg: rgba(111, 106, 248, 0.05);
  overflow: hidden;
}

.table th,
.table td {
  padding: 0.75rem 0.938rem;
  vertical-align: middle;
  border-color: rgba(66, 66, 66, 0.08);
}

.table th {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bs-secondary);
}

.table td {
  font-size: 0.938rem;
  font-weight: 500;
  color: var(--text_color);
}
