.hero-section {
  height: 300px;
  border-radius: 20px;
  margin: 10px;
  background-size: cover;
}

.hero-section.light {
  background-image: url("/src/images/hero_light.jpeg");
}

.hero-section.dark {
  background-image: url("/src/images/hero_dark.jpeg");
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding: 50px;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-time {
  font-size: 4rem;
  font-weight: 800;
}

@media (min-width: 1024px) {
  .hero-time {
    font-size: 5rem;
  }
}

.hero-date {
  font-size: 1.125rem;
  font-weight: 500;
}

@media (min-width: 1024px) {
  .hero-date {
    font-size: 2rem;
  }
}
