.circle {
  background: var(--bs-teal);
  color: var(--bg);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.User-area {
  position: relative;
  cursor: pointer;
}
.User-area > .User-avtar {
  width: 100%;
  height: 100%;
  border-radius: 30px;
  border: 2px solid #fff;
  box-shadow: 0px 0px 12px -5px #000;
}
.User-area > .User-avtar > img {
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.User-Dropdown {
  display: none;
  position: absolute;
  border-radius: 7px;
  background: var(--content-bg);
  box-shadow: 0px 0px 8px rgba(214, 214, 214, 0.78);
  list-style: none;
  padding: 0 20px;
  width: 150px;
  margin: 0;
  top: 70px;
  right: -9%;
}
.User-Dropdown:before {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  margin-left: -0.5em;
  right: 0px;
  box-sizing: border-box;
  border: 7px solid black;
  border-color: transparent transparent var(--content-bg) var(--content-bg);
  transform-origin: 0 0;
  transform: rotate(135deg);
  box-shadow: -3px 3px 3px -3px rgba(214, 214, 214, 0.78);
}
.User-Dropdown.U-open {
  display: block;
}
.User-Dropdown > li {
  padding: 0px;
  line-height: 47px;
  border-bottom: 1px solid rgba(215, 215, 215, 0.17);
}
.User-Dropdown > li:last-child {
  border-bottom: 0px;
}
.User-Dropdown > li > a {
  font-size: 13px;
  padding: 15px 25px 16px 10px;
  text-decoration: none;
  color: var(--bs-teal);
  transition: all 0.2s ease-out;
}
.User-Dropdown span {
  background: var(--bs-teal);
  padding: 3px 10px;
  color: var(--content-bg);
  border-radius: 30px;
  font-size: 13px;
}
.User-Dropdown > li:before {
  content: "";
  width: 0px;
  height: 40px;
  position: absolute;
  background: var(--bs-teal);
  margin-top: 4px;
  border-radius: 0 1px 1px 0;
  left: 0px;
  transition: all 0.2s ease;
}
.User-Dropdown > li:hover:before {
  width: 5px;
  border-radius: 30px;
}
.User-Dropdown > li a:hover {
  margin-left: 5px;
}
