:root {
  --mc1: #f1f1e6;
  --mc2: #c4cdff;
  --bg: #ddd;
  --bc: #9ba0b8;
  --hff: "Heebo", sans-serif;
  --bff: "Nunito", sans-serif;
  --hc: #419771;
  --bs-teal: #2d6250;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: var(--bs-teal);
  margin: 0 !important;
  background: var(--bg);
}
